h1 {
    color:red
}

.cell {
    width: 20px;
    height: 20px;
    float:left;
    outline: 1px solid grey;
    background: #fff;
}

.row {
    width: 200px;
    height: 20px;
}

.tablero {
    width: 200px;
    height: 480px;
}

.v { background: green;}
.r { background: red;}
.n { background: rgb(216, 140, 0);}
.p { background: rgb(252, 91, 117);}
.a { background: yellow;}
.z { background: blue;}
.e { background: #000;}