h1 {
    color:red
}

.cell {
    width: 20px;
    height: 20px;
    float:left;
    outline: 1px solid grey;
    background: pink;
}

.row {
    width: 200px;
    height: 20px;
}

.tablero {
    width: 200px;
    height: 480px;
}

.v { background: green;}
.r { background: red;}
.n { background: orange;}
.v { background: violet;}
.a { background: yellow;}